.catalog {
  &__container {
    padding-top: 74px;
    padding-bottom: 80px;

    @include mobile-sm {
      padding-bottom: 70px;
    }

    @include xs {
      padding-bottom: 46px;
    }
  }
}

.catalog-top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  &__title {
    margin-top: 11px;
    margin-right: 39px;

    @include xs {
      margin-bottom: -3px;
    }
  }

  &__text {
    margin-bottom: 40px;
    width: 100%;
    max-width: 1100px;

    @include mobile-sm {
      margin-bottom: 21px;
    }

    @include xs {
      display: none;
    }
  }

  @include xs {
    flex-direction: column;
    align-items: flex-start;
  }
}

.flags {
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    width: 46px;
    height: 46px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 50px;

      @include mobile-sm {
        margin-right: 54px;
      }

      @include xs {
        margin-right: 32px;
      }
    }

    &--france {
      background-image: url('../img/catalog/france.png');
    }

    &--germany {
      background-image: url('../img/catalog/germany.png');
    }

    &--italy {
      background-image: url('../img/catalog/italy.png');
    }

    &--russia {
      background-image: url('../img/catalog/russia.png');
    }

    &--belgium {
      background-image: url('../img/catalog/belgium.png');
    }

    &--active {
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        border: 2px solid var(--color-amethyst);
        border-radius: 50%;
        width: 66px;
        height: 66px;
        transform: translate(-50%, -50%);

        @include xs {
          width: 44px;
          height: 44px;
        }
      }
    }

    @include xs {
      margin-bottom: 4px;
      width: 32px;
      height: 32px;
    }
  }
}

.catalog-bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &__left {
    width: 47%;

    @include lg {
      width: 40%;
    }

    @include mobile {
      width: 47%;
    }

    @include mobile-sm {
      padding-top: 51px;
      width: 100%;
    }
  }

  &__right {
    width: 50%;

    @include lg {
      width: 57%;
    }

    @include mobile {
      width: 47%;
    }

    @include mobile-sm {
      width: 100%;
    }
  }

  @include mobile-sm {
    flex-direction: column-reverse;
  }
}

.painter {
  &__name {
    margin: 23px 0 5px;

    @include xs {
      margin-top: 10px;
    }
  }

  &__text {
    margin-top: 2px;

    @include xs {
      margin-top: 9px;
    }
  }
}

.accordion {
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    border-bottom: 1px solid var(--color-telegrey);
    padding-top: 30px;
    padding-bottom: 33px;

    span {
      position: relative;
      border: 2px solid var(--color-smoky-white);
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background-color: var(--color-smoky-white);
      transform: rotate(90deg);
      transition: 0.3s transform;

      svg {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 15px;
        height: 15px;
        fill: var(--color-black);
        transform: translate(-50%, -50%);

        @include xs {
          width: 11px;
          height: 11px;
        }
      }

      @include xs {
        width: 30px;
        height: 30px;
      }
    }

    &:first-child {
      border-top: 1px solid var(--color-telegrey);
    }

    @include xs {
      padding-top: 20px;
      padding-bottom: 21px;
      font-size: 18px;
    }
  }

  &__lists {
    padding-top: 25px;
    padding-bottom: 28px;

    @include mobile {
      padding-bottom: 3px;
    }

    @include mobile-sm {
      padding-bottom: 28px;
    }

    @include xs {
      padding-top: 17px;
      padding-bottom: 20px;
    }
  }

  &__list {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }

  &__item {
    margin-right: 5px;
    width: 30%;
    font-size: 16px;
    line-height: 32px;
    white-space: nowrap;

    @include md {
      width: 55%;
    }

    @include mobile-sm {
      width: 35%;
    }
  }

  &__link {
    color: var(--color-signal-black);

    &--active {
      color: var(--color-amethyst);
    }
  }

  .ui-state-active {
    border-bottom-color: var(--color-amethyst);
  }

  .ui-state-active > span {
    transform: rotate(270deg);
    transition: 0.3s transform;
  }

  .ui-accordion-content-active {
    border-bottom: 1px solid var(--color-amethyst);
  }
}
