.gallery {
  background: url("../img/gallery/background.jpg") center no-repeat;
  background-size: cover;

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 85px;
    padding-bottom: 53px;

    @include mobile-sm {
      flex-direction: column;
      padding-bottom: 0;
    }

    @include xs {
      padding-top: 52px;
      padding-bottom: 215px;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 25%;

    @include mobile {
      max-width: 30.3%;
    }

    @include mobile-sm {
      max-width: 42%;
    }

    @include xs {
      max-width: 100%;
    }
  }

  &__right {
    position: relative;
    padding-top: 18px;
    width: 71.9%;

    @include mobile {
      width: 64.2%;
    }

    @include mobile-sm {
      padding-top: 108px;
      padding-bottom: 9px;
      width: 100%;
    }

    @include xs {
      padding-top: 118px;
    }
  }

  &__title {
    margin-bottom: 28px;
    color: var(--color-white);

    @include xs {
      margin-bottom: 23px;
    }
  }

  &__descr {
    font-weight: 600;
    font-size: 16px;
    color: var(--color-white);

    @include xs {
      margin-bottom: 11px;
    }
  }

  &__text {
    max-width: 350px;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: var(--color-white);

    @include mobile-sm {
      max-width: 670px;
    }
  }

  &__link {
    color: var(--color-violet);
    transition: color 0.3s;

    &:hover {
      color: var(--color-amethyst);

      @include xs {
        color: var(--color-violet);
      }
    }

    &:active {
      @include active;
    }
  }

  @include mobile {
    background: url("../img/gallery/background-1024.jpg") center no-repeat;
    background-size: cover;
  }

  @include sm {
    background: url("../img/gallery/background-768.jpg") center top no-repeat;
  }
}

.gallery-select {
  position: relative;
  width: 100%;
  cursor: pointer;
  user-select: none;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--color-white);
    border-radius: 6px;
    padding: 10px 15px;
    font-size: 16px;
    color: var(--color-white);
    transition: color 0.3s;

    svg {
      display: block;
      width: 10px;
      height: 10px;
      fill: currentColor;
      transform: rotate(90deg);
    }

    &:focus {
      @include focus;
    }

    &:hover {
      @include hover;

      @include xs {
        color: var(--color-white);
      }
    }

    &:active {
      @include active;
    }
  }

  &__dropdown {
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
  }

  &__list {
    display: none;
    border: 1px solid var(--color-light-gray);
    border-radius: 6px;
  }

  &__item {
    padding: 10px 19px;
    font-size: 16px;
    color: var(--color-light-gray);

    &:not(:last-child) {
      border-bottom: 1px solid var(--color-light-gray);
    }

    &:focus {
      @include focus;
    }

    &:hover {
      @include hover;

      @include xs {
        color: var(--color-light-gray);
      }
    }

    &:active {
      @include active;
    }
  }

  &--showed .gallery-select__list {
    display: block;
    opacity: 0;
    transition: 0.5s;
    animation: show 0.5s 1;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
  }

  &--showed .gallery-select__top {
    svg {
      transform: rotate(-90deg);
    }
  }
}

.gallery-left {
  &__top {
    margin-bottom: 540px;
    width: 100%;

    @include lg-max {
      margin-bottom: 28.65vw;
    }

    @include mobile-sm {
      margin-bottom: 0;
    }
  }

  &__bottom {
    @include mobile-sm {
      position: absolute;
      left: 0;
      bottom: 53px;
      padding-right: 50px;
      padding-left: 50px;
    }

    @include xs {
      padding-right: 25px;
      padding-left: 15px;
    }
  }
}

.gallery-slider {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 100%;
  max-height: 811px;

  &__slide {
    width: 100%;
    height: 100%;
    max-width: 350px;
    max-height: 350px;
    cursor: pointer;

    div {
      position: relative;
      width: 100%;
      height: 100%;
      max-width: 350px;
      max-height: 350px;

      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 80%;
        height: 80%;
        background: url("../img/gallery/hover.png") no-repeat center;
        object-fit: cover;
        opacity: 0;
        transform: translate(-50%, -50%);
        transition: opacity 0.3s;
      }

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        height: 100%;
        background-color: rgba(194, 131, 243, 0.4);
        background-blend-mode: multiply;
        opacity: 0;
        transform: translate(-50%, -50%);
        transition: opacity 0.1s;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @include xs {
          height: 367px;
        }
      }

      &:focus {
        outline: 3px solid var(--color-krayola);
        outline-offset: -3px;
      }

      &:hover {
        &::before {
          opacity: 1;
        }

        @include xs {
          &::before {
            opacity: 0;
          }
        }
      }

      &:active {
        @include xs {
          outline: 3px solid var(--color-purple);
          outline-offset: -3px;

          &::before {
            opacity: 1;
          }

          &::after {
            opacity: 1;
          }
        }
      }

      @include xs {
        max-width: 100%;
        max-height: 367px;
        text-align: center;
      }
    }

    @include mobile {
      max-width: 280px;
      max-height: 280px;
    }

    @include mobile-sm {
      max-width: 350px;
      max-height: 280px;
    }

    @include sm {
      max-width: 317px;
      max-height: 280px;
    }

    @include xs {
      margin-top: 0 !important;
      max-width: 100%;
      max-height: 100%;
      text-align: center;
    }
  }

  &__pagination-block {
    @include xs {
      margin-top: 25px;
    }
  }

  @include mobile {
    height: 684px;
  }

  @include mobile-sm {
    height: 810px;
  }

  @include xs {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
  }
}

.swiper-container-multirow > .swiper-wrapper {
  flex-direction: column;
}
