.gallery {
  background: url("../img/gallery/background.jpg") center no-repeat;
  background-size: cover;

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 85px;
    padding-bottom: 53px;

    @include mobile-sm {
      flex-direction: column;
      padding-bottom: 0;
    }

    @include xs {
      padding-top: 52px;
      padding-bottom: 211px;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 25%;

    @include mobile {
      max-width: 30.3%;
    }

    @include mobile-sm {
      max-width: 42%;
    }

    @include xs {
      max-width: 100%;
    }
  }

  &__right {
    position: relative;
    padding-top: 18px;
    width: 71.9%;

    @include mobile {
      width: 64.2%;
    }

    @include mobile-sm {
      padding-top: 108px;
      padding-bottom: 9px;
      width: 100%;
    }

    @include xs {
      padding-top: 118px;
    }
  }

  &__title {
    margin-bottom: 28px;
    color: var(--color-white);

    @include xs {
      margin-bottom: 23px;
    }
  }

  &__descr {
    font-weight: 600;
    font-size: 16px;
    color: var(--color-white);

    @include xs {
      margin-bottom: 11px;
    }
  }

  &__text {
    max-width: 350px;
    font-size: 16px;
    line-height: 32px;
    color: var(--color-white);

    @include mobile-sm {
      max-width: 670px;
    }
  }

  @include mobile {
    background: url("../img/gallery/background-1024.jpg") center no-repeat;
    background-size: cover;
  }

  @include sm {
    background: url("../img/gallery/background-768.jpg") center top no-repeat;
  }
}

.gallery-select {
  position: relative;
  width: 100%;
  user-select: none;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--color-white);
    border-radius: 6px;
    padding: 10px 15px;
    font-size: 16px;
    color: var(--color-white);

    svg {
      display: block;
      width: 10px;
      height: 10px;
      fill: currentColor;
      transform: rotate(90deg);
    }
  }

  &__dropdown {
    position: absolute;
    left: 0;
    top: 24px;
    width: 100%;
  }

  &__list {
    border: 1px solid var(--color-light-gray);
    border-radius: 6px;
  }

  &__item {
    padding: 10px 15px;
    font-size: 16px;
    color: var(--color-light-gray);

    &:not(:last-child) {
      border-bottom: 1px solid var(--color-light-gray);
    }
  }
}

.gallery-left {
  &__top {
    margin-bottom: 540px;
    width: 100%;

    @include lg-max {
      margin-bottom: 340px;
    }

    @include lg {
      margin-bottom: 0;
    }
  }

  &__bottom {
    @include mobile-sm {
      position: absolute;
      left: 0;
      bottom: 53px;
      padding-right: 50px;
      padding-left: 50px;
    }

    @include xs {
      padding-right: 25px;
      padding-left: 15px;
    }
  }
}

.gallery-slider {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 100%;
  max-height: 810px;

  &__slide {
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 350px;
    max-height: 350px;

    img {
      height: auto;
      max-width: 100%;
    }

    @include mobile {
      max-width: 280px;
      max-height: 280px;
    }

    @include mobile-sm {
      max-width: 350px;
    }

    @include sm {
      max-width: 317px;
    }

    @include xs {
      margin-top: 0 !important;
      max-width: 100%;
      max-height: 100%;
      text-align: center;
    }
  }

  &__pagination-block {
    @include xs {
      margin-top: 25px;
    }
  }

  @include mobile {
    height: 684px;
  }

  @include mobile-sm {
    height: 810px;
  }

  @include xs {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
  }
}

.swiper-container-multirow > .swiper-wrapper {
  flex-direction: column;
}
