.header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;

  &__top {
    background-color: var(--color-black);
  }

  &__bottom {
    background-color: rgba(0, 0, 0, 0.4);

    @include md {
      display: none;
    }
  }
}

.header-top {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;

    @include md {
      justify-content: flex-start;
    }

    @include xs {
      height: 45px;
    }
  }

  &__logo {
    @include md {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.logo {
  img {
    width: 173px;

    @include md {
      width: 187px;
    }

    @include xs {
      width: 97px;
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 280px;

    @include lg-max {
      margin-right: 150px;
    }

    @include lg {
      margin-right: 70px;
    }

    @include md {
      flex-direction: column;
      align-items: flex-start;
      overflow: scroll;
      width: 100%;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 61px;

      @include lg {
        margin-right: 30px;
      }
    }

    @include md {
      display: inline-block;
      margin-bottom: 20px;
      border-bottom: 1px solid var(--color-white);
      width: 100%;
    }
  }

  &__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: var(--color-white);

    &:hover {
      text-decoration: none;
    }

    @include md {
      font-size: 22px;
    }
  }

  &__btn {
    padding-right: 0;
    font-weight: 400;
    font-size: 18px;
    color: var(--color-white);

    svg {
      width: 13px;
      height: 13px;
      fill: currentColor;
    }

    &:focus {
      @include focus;
    }

    &:hover {
      @include hover;
    }

    &:active {
      @include active;
    }

    @include md {
      margin-bottom: 50px;
      font-size: 22px;

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  &__close {
    position: relative;
    display: none;
    align-self: flex-end;
    border-left: 2px solid var(--color-white);
    padding: 20px 10px 0;
    width: 30px;
    height: 30px;
    transform: rotate(-135deg);

    &::after {
      content: "";
      position: absolute;
      right: 50%;
      top: 50%;
      display: block;
      border-right: 2px solid var(--color-white);
      width: 30px;
      height: 30px;
      transform: rotate(90deg) translateX(-95%);
    }

    &:hover {
      @include exclude-xs {
        border-color: var(--color-violet);

        &::after {
          border-color: var(--color-violet);
        }
      }
    }
  }

  @include md {
    position: fixed;
    left: -150vw;
    top: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding-right: 30px;
    padding-left: 40px;
    width: 80%;
    height: 100vh;
    background-color: var(--color-black);
    transition: left 0.3s;

    &--opened {
      left: 0;
      transition: left 0.3s;
    }
  }
}

.header-bottom {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 21px;
  }

  &__select {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header-select {
  position: relative;
  user-select: none;

  &:not(:last-child) {
    margin-right: 101px;

    @include lg {
      margin-right: 40px;
    }
  }

  &__top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: var(--color-white);
    cursor: pointer;

    svg {
      display: block;
      margin-left: 2px;
      width: 10px;
      height: 10px;
      fill: currentColor;
      object-fit: cover;
      transform: rotate(90deg);
    }

    &:focus {
      @include focus;
    }

    &:hover {
      @include hover;
    }

    &:active {
      @include active;
    }
  }

  &__dropdown {
    position: absolute;
    left: -10px;
    top: 15px;
    z-index: 20;
    padding: 10px;
    width: 220px;
  }

  &__list {
    display: none;
    width: 100%;
    height: 220px;
  }

  &__item {
    display: block;
    padding: 10px 15px;
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: var(--color-white);
    background: url('../img/header/list-background.jpg') no-repeat center;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &:hover {
      @include exclude-xs {
        outline: 2px solid var(--color-amethyst);
        outline-offset: -2px;
      }
    }

    &:active {
      @include xs {
        outline: 2px solid #d1a9f0;
        outline-offset: -2px;
        background-color: rgba(194, 131, 243, 0.4);
        background-blend-mode: multiply;
      }
    }
  }

  &--showed .header-select__list {
    display: block;
    opacity: 0;
    transition: 0.5s;
    animation: show 0.5s 1;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
  }

  &--showed .header-select__top {
    svg {
      transform: rotate(-90deg);
    }
  }
}

.search {
  label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-white);

    svg {
      display: block;
      margin-right: 9px;
      width: 22px;
      height: 22px;
      fill: currentColor;
    }

    input {
      border-bottom: 1px solid rgba(255, 255, 255, 0.85);
      padding-bottom: 4px;
      max-width: 219px;
      font-weight: 400;
      font-size: 18px;
      color: currentColor;

      &::placeholder {
        color: var(--color-white);
        opacity: 0.85;
      }

      @include md {
        max-width: 140px;
      }

      @include sm {
        max-width: 110px;
        font-size: 14px;
      }

      @include xs {
        max-width: 80px;
        font-size: 10px;
      }
    }

    &:focus-within {
      color: var(--color-violet);
    }

    &:hover {
      @include exclude-xs {
        color: var(--color-violet);

        input {
          border-color: currentColor;
        }
      }
    }
  }

  &:focus-within {
    outline: 2px solid var(--color-krayola);
  }

  &--mobile {
    position: absolute;
    right: 50px;
    display: none;
    transition: right 0.3s;

    label {
      svg {
        margin-right: 0;
        width: 29px;
        height: 29px;

        @include xs {
          width: 16px;
          height: 16px;
        }
      }
    }

    input {
      position: absolute;
      left: 35px;
      display: none;
      opacity: 0;
      transition: opacity 0.3s;

      @include xs {
        left: 20px;
      }
    }

    @include md {
      display: block;
    }

    @include xs {
      right: 15px;
    }
  }

  &--showed {
    right: 170px;
    transition: right 0.3s;

    input {
      display: block;
      opacity: 1;
      transition: opacity 0.3s;
    }

    @include sm {
      right: 130px;
    }

    @include xs {
      right: 90px;
    }
  }
}

.burger {
  position: relative;
  display: none;
  width: 36px;
  height: 28px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    background-color: var(--color-white);

    @include xs {
      height: 2px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 68%;
    height: 4px;
    background-color: var(--color-white);

    @include xs {
      height: 2px;
    }
  }

  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 78%;
    height: 4px;
    background-color: var(--color-white);
    transform: translateY(-50%);

    @include xs {
      height: 2px;
    }
  }

  @include md {
    display: block;
  }

  @include xs {
    width: 20px;
    height: 15px;
  }
}

.simplebar-track.simplebar-vertical {
  width: 2px;
  background-color: var(--color-signal-black);
}

.simplebar-mask {
  margin-right: 20px;
}

.simplebar-scrollbar {
  background-color: var(--color-amethyst);
}
