.projects {
  &__container {
    padding-top: 86px;
    padding-bottom: 80px;

    @include mobile {
      padding-bottom: 67px;
    }

    @include mobile-sm {
      margin-bottom: -13px;
    }

    @include xs {
      padding-top: 53px;
      padding-bottom: 46px;
    }
  }

  &__text {
    margin-bottom: 16px;
    max-width: 65.7%;

    span {
      position: relative;
      display: inline-block;
      border: 1px solid var(--color-amethyst);
      border-radius: 50%;
      width: 16px;
      height: 16px;
      background-color: transparent;
      transition: background-color 0.3s;

      &::before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 55%;
        border-style: solid;
        border-width: 10px;
        border-color: var(--color-telegrey) transparent transparent transparent;
        width: 0;
        height: 0;
        opacity: 0;
        transform: translateX(-50%);
        transition: opacity 0.3s;
      }

      &::after {
        content: attr(data-tooltip);
        position: absolute;
        left: 50%;
        bottom: 200%;
        z-index: -1;
        padding: 10px;
        width: 264px;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: var(--color-white);
        background-color: var(--color-telegrey);
        opacity: 0;
        transform: translateX(-50%);
        transition: opacity 0.3s;
      }

      svg {
        position: absolute;
        right: 35%;
        top: 50%;
        display: block;
        width: 2px;
        height: 10px;
        text-align: center;
        fill: var(--color-amethyst);
        transform: translate(-50%, -50%);
        transition: fill 0.3s;
      }

      &:hover,
      &:focus {
        background-color: var(--color-amethyst);

        &::before {
          opacity: 1;
        }

        &::after {
          z-index: 0;
          opacity: 1;
        }

        svg {
          fill: var(--color-white);
        }
      }
    }

    @include lg-max {
      max-width: 80%;
    }

    @include md {
      max-width: 99%;
    }

    @include mobile-sm {
      margin-bottom: 21px;
    }

    @include xs {
      margin-bottom: 10px;
    }
  }

  &__link {
    transition: color 0.3s;
  }

  &__subtitle {
    margin: 0 0 17px;

    @include mobile {
      margin-bottom: 5px;
    }

    @include xs {
      margin-bottom: 0;
      font-size: 18px;
    }
  }

  &__bottom {
    position: relative;
    margin: 0 auto;
    padding-right: 75px;
    padding-left: 75px;
    height: 100%;
    min-height: 60px;
    max-height: 150px;

    @include md {
      padding-right: 65px;
      padding-left: 65px;
    }

    @include mobile {
      padding-right: 55px;
      padding-left: 55px;
    }
  }
}

.projects-slider {
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 150px;

  &__slide {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 450px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    transition: filter 0.3s;

    &:hover {
      filter: grayscale(0);
    }

    &--1 {
      background-image: url('../img/projects/freelands-color.jpg');
    }

    &--2 {
      background-image: url('../img/projects/institute-color.jpg');
    }

    &--3 {
      background-image: url('../img/projects/workhouse-color.jpg');
    }

    &--4 {
      background-image: url('../img/projects/1849-color.jpg');
    }

    &--5 {
      background-image: url('../img/projects/hiscox-color.jpg');
    }

    &--6 {
      background-image: url('../img/projects/camden-color.jpg');
    }

    &--7 {
      background-image: url('../img/projects/stassen-color.jpg');
    }

    &--8 {
      background-image: url('../img/projects/watts-color.jpg');
    }

    &--9 {
      background-image: url('../img/projects/esad-color.jpg');
    }
  }

  &__prev-btn,
  &__next-btn {
    top: 55%;
    border-color: var(--color-smoky-white);
    background-color: var(--color-smoky-white);

    &::after {
      color: var(--color-black);
    }
  }

  @include xs {
    height: 28vw;
  }
}
