@mixin hover {
  text-decoration: none;
  color: var(--color-violet);
}

@mixin focus {
  outline: 2px solid var(--color-krayola);
  text-decoration: none;
}

@mixin active {
  @include xs {
    color: var(--color-krayola);
  }
}

@mixin sliderBtnHover {
  border-color: var(--color-amethyst);
  background-color: var(--color-amethyst);

  &::after {
    color: var(--color-white);
  }
}

@mixin sliderBtnFocus {
  border-color: var(--color-krayola);
}

@mixin sliderBtnActive {
  @include xs {
    border-color: var(--color-purple);
    background-color: var(--color-krayola);
  }
}

@mixin hoverBtn {
  background-color: var(--color-amethyst);

  span {
    color: var(--color-white);
  }
}

@mixin focusBtn {
  span {
    @include focus;
  }
}

@mixin activeBtn {
  @include xs {
    border-color: var(--color-purple);
    background-color: var(--color-krayola);

    span {
      color: var(--color-white);
    }
  }
}
