html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  background-color: var(--color-white);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.is-outer {
  position: relative !important; // stylelint-disable-line declaration-no-important
  left: -9999px !important; // stylelint-disable-line declaration-no-important
}

.site-container {
  overflow: hidden;
}

.stop-scroll {
  @include stop-scroll;
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.for-mobile {
  display: none;

  @include mobile {
    display: block;
  }
}

.error {
  border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
}

.visually-hidden {
  @include visually-hidden;
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1700px;

  @include xs {
    padding: 0 15px;
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.input {
  outline: none;
  border: none;
  padding: 0;
  background-color: transparent;
}

.btn {
  border: 2px solid var(--color-amethyst);
  border-radius: 100px;
  padding: 20px 33px;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;

  @include xs {
    padding: 10px 15px;
  }
}

.title {
  margin: 0 0 20px;
  padding: 0;
  font-weight: 400;
  font-size: 48px;
  color: var(--color-signal-black);

  @include xs {
    margin-bottom: 15px;
    font-size: 28px;
  }
}

.text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 200%;
  color: var(--color-signal-black);
}

.descr {
  font-size: 12px;
  line-height: 16px;
  color: var(--color-light-gray);
}

.link {
  color: var(--color-amethyst);

  &:hover {
    text-decoration: underline;
  }
}

.subtitle {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 178%;
  color: var(--color-signal-black);
}

.pagination-block {
  position: relative;
  margin-top: 10px;
  margin-bottom: 22px;
  width: 130px;
  height: 30px;

  &__pagination {
    top: 0;
    color: var(--color-white);
  }

  &__button-next,
  &__button-prev {
    position: absolute;
    right: 0;
    z-index: 100;
    border-radius: 50%;
    padding: 10px;
    width: 30px;
    height: 30px;
    background-color: var(--color-dull-gray);

    &::after {
      font-size: inherit;
      color: var(--color-white);
    }
  }

  &__button-prev {
    left: 0;
  }

  @include xs {
    margin-right: auto;
    margin-left: auto;
  }
}
